*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
@font-face {
    font-family: "Fraunces";
    src: url("../assets/fonts/Fraunces_144pt-SemiBold.ttf");
}
@font-face {
    font-family: "Manrope";
    src: url("../assets/fonts/Manrope-Regular.ttf");
}

:root{
    --main-font : "Manrope";
    --title-font : "Fraunces";
    --main-dark : rgba(36, 5, 62, 1);
    --main-light : rgba(253, 250, 255, 1);
    --main-accent : rgba(68, 255, 161, 1);
    --main-grey : rgba(88, 77, 98, 1);
    --main-white : rgba(255, 255, 255, 1);
}

@media only screen {
    /*---MOBILE---*/
    body{
        /* background-color: var(--main-white); */
        font-family: var(--main-font);
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 2rem;
        overflow-x: hidden;
    }
    header{
        position: relative;
        width: 100%;
        color: var(--main-white);
        background-color: var(--main-light);
        background-image: url("../assets/images/background.svg");
        background-repeat: no-repeat;
        background-position: center bottom 5.8rem;
        background-size: cover;
        /* background-position: center -6rem;
        background-size: cover; */
        overflow-x: hidden;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 2rem 1rem 4rem 1rem;
        background-color: var(--main-dark);
    }
    .btn-secondary{
        padding: 0;
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 2rem;
        /* letter-spacing: -0.01rem; */
        color: var(--main-white);
        background: transparent;
        border: none;
        border-bottom: 0.1875rem solid var(--main-accent);
    }
    .btn-primary{
        padding: 0.75rem 1.5rem;
        background-color: var(--main-accent);
        border: 0.125rem solid var(--main-accent);
        font-style: normal;
        font-weight: 700;
        font-size: 1rem;
        line-height: 2rem;
    }
    #hero_section{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #hero_section h1{
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 3.125rem;
        line-height: 3.5rem;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 2.5rem;
    }
    #hero_section #underline{
        border-bottom: 0.1875rem solid var(--main-accent);
    }
    #hero_section img{
        margin-top: 4rem;
        width: 19rem;
    }
    
    main{
        background-color: white;
    }
    #advantages_section{
        padding: 0 1rem;
        padding-top: 4rem;
        padding-bottom: 2rem;
        background-image: url("../assets/images/background-2.svg");
        background-repeat: no-repeat;
        background-position: center bottom 0rem;
        background-size: cover;
    }
    .advantage{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 2.5rem;
    }

    .bullet{
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2.25rem;
        border: 0.0625rem solid var(--main-dark);
        border-radius: 50%;
    }
    .advantage h3{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 1.75rem;
        line-height: 2.25rem;
    }
    .advantage p{
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 1rem;
        line-height: 1.75rem;
    }

    #cta_section{
        margin-top: 6.25rem;
        padding-top: 14.25rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-image: url("../assets/images/image-founder.webp");
        background-repeat: no-repeat;
        background-position: center top 0rem;
        background-size: 17.5625rem;
    }
    #cta_text_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2rem 1.9375rem;
        color: var(--main-white);
        background-color: var(--main-dark);
    }
    #cta_text_container h2{
        font-family: var(--title-font);
        font-weight: 600;
        font-size: 2rem;
        line-height: 3rem;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    #cta_text_container p{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
        line-height: 1.75rem;
    }
    footer{
        padding-top: 4.625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #social_network{
        display: flex;
        justify-content: space-between;
        margin-top: 3.625rem;
        margin-bottom: 4rem;
        width: 7.25rem;
        height: 1.25rem;
    }

}
@media only screen and (min-width: 48rem) {
    /*----TABLET---*/
}
@media only screen and (min-width: 90rem) {
    /*----DESKTOP---*/
}